<div id="services" class="container-fluid text-center">
  <br>

  <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-2">

      <div class="section-wrapper">
        <span class="glyphicon glyphicon-usd logo-small"></span>
        <h4>COMPANIES</h4>
        <div class="p-wrapper">
          <p>Check available companies</p>
        </div>
      </div>


    </div>

    <div class="col-sm-2">

      <div class="section-wrapper"> 
        <span class="glyphicon glyphicon-tower logo-small"></span>
        <h4>STRATEGIES</h4>
        <div class="p-wrapper">
          <p>Define your strategies</p>
        </div>
      </div>

    </div>

    <div class="col-sm-2">

      <div class="section-wrapper"> 
        <span class="glyphicon glyphicon-signal logo-small"></span>
        <h4>ACTIVITY LOG</h4>
        <div class="p-wrapper">
          <p>Check your results</p>
        </div>
      </div>

    </div>

    <div class="col-sm-2">

      <div class="section-wrapper"> 
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>ACCOUNT DETAILS</h4>
        <div class="p-wrapper">
          <p>Manage your account</p>
        </div>
      </div>

    </div>
    <div class="col-sm-2"></div>

  </div>

</div>
