<div id="services" class="mainmenu-bar text-center">
  <br>

  <div class="row">

    <div class="col-sm-2"></div>
    <div class="col-sm-2">

      <div id="companies_section_button" class="section-wrapper" index=0>
        <span class="glyphicon glyphicon-usd logo-small"></span>
        <h4>COMPANIES</h4>
        <div class="p-wrapper">
          <p>Check available companies</p>
        </div>
      </div>


    </div>

    <div class="col-sm-2">

      <div id="strategies_section_button" class="section-wrapper" index=1> 
        <span class="glyphicon glyphicon-tower logo-small"></span>
        <h4>STRATEGIES</h4>
        <div class="p-wrapper">
          <p>Define your strategies</p>
        </div>
      </div>

    </div>

    <div class="col-sm-2">

      <div id="activity_section_button" class="section-wrapper" index=2> 
        <span class="glyphicon glyphicon-signal logo-small"></span>
        <h4>ACTIVITY LOG</h4>
        <div class="p-wrapper">
          <p>Check your results</p>
        </div>
      </div>

    </div>

    <div class="col-sm-2">

      <div id="account_section_button" class="section-wrapper" index=3> 
        <span class="glyphicon glyphicon-user logo-small"></span>
        <h4>ACCOUNT DETAILS</h4>
        <div class="p-wrapper">
          <p>Manage your account</p>
        </div>
      </div>

    </div>
    <div class="col-sm-2"></div>

  </div>

</div>

<div class="main-content">

  <div id="companies_section companies" class="container-primary" > 
    <div>
      COMPANIES
    </div>
  </div>

  <div id="strategies_section" class="container-primary"> 

    <div id="strategy_info" class="detailed-info text-center">
    </div>
    
    <div id="strategies_container" class="content-list">
    </div>

    <div id="strategies_paginator" class="content-list">
    </div>

  </div>

  <div id="activity_section" class="container-primary"> 
    <div>
      ACTIVITY
    </div>
  </div>

  <div id="account_section" class="container-primary"> 
    <div>
      ACCOUNT
    </div>
  </div>

</div> 

